@model DTS.Models.PortModel
@{
    ViewBag.Title = "Add Port";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<h2>Add Port</h2>

@*<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>*@

@using (Html.BeginForm("AddPort", "Device", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <form>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group">
            <div class="col-md-12">
                <label class="form-group">No of Ports : </label>
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter No of Ports here" } })
                @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input type="submit" name="submit" value="Add Port" class="btn btn-info" />
            </div>
            <div class="col-md-2">
                <input type="submit" name="reset" value="Reset" class="btn btn-dark" />
            </div>
        </div>


    </form>
}

<div>
    @Html.Partial("_ListPort", Model)
</div>
